{
    "client_id" : "client_id"
    "client_secret" : "client_secret"
    "access_token" : "access_token"
    "location": "campus",
    "showcase": "showcase_id",
    "file_upload_path": "./upload",
    "file_archive_path":"./archive/",
    "file_small_path":"./small/",
    "file_delimeter":"_",
    "date_format": "Ymd_His",
    "file_type": "mp4",
    "autoload_path":"path_to_autoload.php""
}
